.mobile-menu-button {
	display: none;
	min-width: 28px;
	width: 28px;
	height: 23px;
	background-image: url("../images/header/icons/mobile-menu-button.svg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transition: all 0.75s;
}

.mobile-menu-button:hover {
	transform: scale(1.15);
	filter: brightness(1.15);
}

.mobile-menu {
	display: none;
}



@media (max-width: 1024px) {
	
	.mobile-menu-button {
		display: block;
	}
	
	.mobile-menu {
		inset: 0;
		z-index: 1000;
		display: none;
		padding: 45px 20px;
		background-color: var(--white);
	}
	
	.mobile-menu.active {
		position: fixed;
		display: block;
	}
	
	.button-close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 37px;
		height: 37px;
		background-image: url("../images/header/icons/button-close.svg");
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		transition: all 0.5s;
	}
	
	.button-close:hover {
		transform: scale(1.25);
		filter: brightness(1.15);
	}
	
	.mobile-menu .menu__list {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		font-size: 16px;
	}
	
	.mobile-menu .email {
		display: block;
		margin: 15px 0 20px;
		font-size: 20px;
	}
	
	.mobile-menu .schedule {
		font-size: 16px;
		text-align: left;	
	}
	
}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 480px) {
	
	.mobile-menu .phone {
		display: block;
	}
	
	.mobile-menu .schedule {
		display: block;
	}

}
/* ↑↑↑ 480px ↑↑↑ */